{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
<div class="d-flex">
    {{ include('admin/_index.html.twig') }}
    <div class="d-flex flex-column align-items-center mx-auto">
        <h1 class="my-5"> Liste des niveaux</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image rappeur</th>
                <th>Son recherche</th>
                <th>Son Victoire</th>
                <th>Position X</th>
                <th>Position Y</th>
                <th>Temps</th>
                <th>Niveau</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.id }}</td>
                    <td>{{ game.name }}</td>
                    <td>{{ game.photoRapper }}</td>
                    <td>{{ game.searchSound }}</td>
                    <td>{{ game.victorySound }}</td>
                    <td>{{ game.positionX }}</td>
                    <td>{{ game.positionY }}</td>
                    <td>{{ game.time }}</td>
                    <td>{{ game.level }}</td>
                    <td class="d-flex align-items-center">
                        {{ include('game/_delete_form.html.twig') }}
                        <a href="{{ path('admin_game_edit', {'id': game.id}) }}" class="admin-modify">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
