{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('game') }}
{% endblock %}

{% block body %}
    <h1 class="text-center">Find The Invisible Rapper</h1>
    {#
    <img src="{{ asset('build/images/dollarcadre.png') }}" alt="ACME logo">
    #}
    <div class="information d-flex justify-content-center">
        <h3 class="mx-4">Niveau {{ game.level }}/5</h3>
        <h3 id="timer" class="ml-4">{{ game.time }}</h3> <h3 class="mx-2">secondes</h3>
    </div>
    <div id="lost" class="lost text-center">
        <p>T'as perdu, tu veux recommencer poto ?</p>
        <a href="{{ path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) }}">Oui</a>
        <a href="{{ path('app_logout') }}">Non</a>
    </div>
    <div id="win" class="win text-center">
        <p>T'as gagné tu veux passer au prochain niveau ?</p>
        <a href="{{ path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) }}">Oui</a>
        <a href="{{ path('app_logout') }}">Non</a>
    </div>
    <table class="map mx-auto" style="background-image:url('{{ asset('build/images/dollarcadre.png') }}')">
        {% for y in 0..20 %}
            <tr class="">
                {% for x in 0..36 %}
                    <td class="">
                        {% if game.positionX == x and game.positionY == y %}
                            <p id="rapper" class="rapper">p</p>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
